.HeroSec {

    background:
        linear-gradient(60deg, #ff5e00 0%, #ff5e00 20%, transparent 20%),
        linear-gradient(-60deg, #ff5e00 0%, #ff5e00 20%, #ffffff 20%);
}

.container {
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left_side {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.right_side {
    width: 70%;

}

.right_side video {
    width: 100%;
    border-radius: 12px;
}


@media (max-width:767px) {
    .HeroSec {
        padding: 0px 0px;

    }

    .left_side {
        width: 100%;
    }

    .container {
        padding: 30px 0px;
    }

    .right_side {
        width: 100%;

        margin-top: 15px;
    }

    .hero_btn {
        margin-top: 10px;
    }
}