.IconList {
    display: flex;
    gap: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #e8e8f0;

    a {
        color: black;
        text-decoration: none;
    }
}


@media (max-width:767px) {
    .IconList {
        margin-top: 0px;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
}