      .logo {
          width: 100%;
          height: 70px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 20px;

          strong {
              color: #000000;
          }
      }

      .LogoDiv {
          svg {
              width: 100%;
              height: 20px;
              transform: rotate(14deg);
              position: relative;
              left: 15px;
          }

          .zigzag {
              stroke-dasharray: 400;
              stroke-dashoffset: 400;
              animation: draw 5s ease-in-out infinite;
          }
      }


      @media (max-width:767px) {
          .logo {
              align-items: start;
              width: max-content;

              strong {
                  color: #1b2c7a;
              }
          }
      }


      @keyframes draw {
          0% {
              stroke-dashoffset: 400;
          }

          50% {
              stroke-dashoffset: 0;
          }

          100% {
              stroke-dashoffset: -400;
          }
      }