   .logo_card {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .swiper-wrapper {
       padding: 20px 0;
   }

   .logo_card img {
       width: 100%;
       height: 100%;
       object-fit: contain;
   }

   .swiper_slide {
       border: 1px solid #D4D4D4;
       border-bottom: 2px solid #D4D4D4;
       padding: 20px;

   }



   .LogoSliderSec :global(.swiper-slide-active) {
       transform: scale(1.1);
       z-index: 3;
       box-shadow: 0px 3.5px 26px rgba(0, 0, 0, 0.04);
       border-bottom: 2px solid transparent;
   }

   .LogoSliderSec :global(.swiper-slide-active)::after {
       content: "";
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       height: 2px;
       background: linear-gradient(to right, #FF7112, #000000);
   }


   @media (max-width:1024px) {
       .LogoSliderSec :global(.swiper-slide-active) {
           transform: scale(1);
           z-index: 3;
           box-shadow: 0px 3.5px 26px rgba(0, 0, 0, 0);

       }

       .swiper_slide::after {
           content: "";
           position: absolute;
           bottom: 0;
           left: 0;
           width: 100%;
           height: 2px;
           background: linear-gradient(to right, #FF7112, #000000);
       }
   }