.nav_section {}

.nav_container {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;

    backdrop-filter: blur(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D4D4D4;
    margin-top: 10px;
    border-radius: 100px;
    padding: 5px 30px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.Nav {
    position: sticky;
    position: relative;
    top: 10px;
    z-index: 99;
}

@media (max-width:1024px) {
    .Nav {
        padding: 0px 0px;
        margin: 0 20px;
    }

    .nav_container {
        backdrop-filter: unset;
        justify-content: space-between;
    }

    .logo_section {
        position: relative;
        z-index: 5;

    }
}