.NavMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav_ul a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.nav_ul {
    margin-top: 18px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    list-style: none;
} 

.Drawer {
    display: flex;
    gap: 20px;
}

.cancel_icon_div {
    display: none;
    background: transparent !important;
}

@media (max-width:1024px) {



    .menu_section {
        background-color: #ffffff;
        position: fixed;
        right: 0;
        z-index: 4;
        height: 100vh;
        bottom: 0;
        top: 0px;
        width: 100%;
        padding: 20px 20px 20px 12px;
        transition: all 300ms ease;
        overflow: hidden;

        .Drawer {
            display: flex;
            flex-direction: column;
            gap: 0px;
            margin-top: 80px;

        }

        .Drawer a {
            color: #000000;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
        }

        .Drawer>div {
            padding: 20px 30px;
            border-bottom: 1px solid white;

        }

        .Drawer>div:hover {
            background-color: #ef5527;

            a {
                color: white;

            }
        }

        .cancel_icon {
            margin-left: auto;
            display: inline-block;
        }

        .cancel_icon_div {
            display: flex;
            justify-content: center;
            align-items: center;
            display: block;
            padding: 0px !important;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .nav_ul {

            justify-content: start;
            align-items: start;
        }

    }



    .navbtn {
        display: none;
    }
}