.portfolio_track {
    display: flex;
    gap: 20px;

    img {
        width: 550px;
        height: 100%;
        object-fit: cover;
    }
}

.top_track {
    animation: marquee 40s linear infinite;

}

.bottom_track {
    animation: reverseMarquee 40s linear infinite;
}

.play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #ef5527;
    cursor: pointer;
    opacity: 0;
    transition: all 300ms ease;
    z-index: 3;
}

.image_div {
    position: relative;
    transition: all 300ms ease;

    img {
        border: 1px solid transparent;
        transition: all 300ms ease;
        border-radius: 12px;

    }

    border-radius: 12px;
}

.image_div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px 12px 0px 0px;
    opacity: 1;
    transition: all 300ms ease;
    width: 100%;
    height: 0;

    background-color: rgba(27, 44, 122, 0.6);
}

.image_div::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px 0px 12px 12px;
    opacity: 1;
    transition: all 300ms ease;
    width: 100%;
    height: 0;

    background-color: rgba(27, 44, 122, 0.6);
}

.image_div:hover::before,
.image_div:hover::after {
    height: 50%;
}

.image_div:hover {
    img {

        border-color: #1b2c7a;
    }

    .play_btn {
        opacity: 1;
    }
}

.portfolio_wrapper {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.portfolio_wrapper_bottom {
    flex-direction: row-reverse;

}

@keyframes marquee {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(calc(-100% - 20px));
    }
}

@keyframes reverseMarquee {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(calc(100% - 20px));
    }
}

@media (max-width:1024px) {

    .portfolio_track {

        img {
            width: 420px;

        }
    }
}

@media (max-width:767px) {
    .portfolio_track {
        img {
            width: 300px;

        }
    }
}