.Portfolio {
    padding: 80px 0px;

}

.portfolio_top {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        margin: 0 auto;
    }

    .highlight {
        max-width: max-content;
        margin: 0 auto;
    }
}

.text_btn {
    display: flex;
    justify-content: space-between;

    p {
        width: 50%;
    }

}

.portfolio_bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width:1024px) {
    .text_btn p {
        width: 100%;
    }
}

@media (max-width:767px) {
    .Portfolio{
        padding: 50px 0px;
    }

}