.Ready {
    background-color: #FAFAFA;
    box-shadow: 0px 20px 24px #10182822;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    border-radius: 16px;
    margin: 0 auto;
    position: relative;
    top: -125px;

}

.left_section {

    h3 {
        color: black;
        margin-bottom: 12px;
    }

    p {
        color: #737373;
    }
}

@media (max-width:767px) {
    .Ready {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 20px;
        margin: 0px 20px;
        padding: 25px;
    }
}