.testimonialSec {
    padding: 0px 0px;
}

.swiper_controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: #E4E4EE;
    padding: 6px;
    gap: 10px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
}

.navigation:hover {
    background-color: #223377;
}

.prev_btn {
    background-color: #C8C8C8;
}

.next_btn {
    background-color: #fd5b26;
}

.custom_pagination .swiper-pagination-bullet:hover {
    background-color: #223377;
}

.custom_pagination .swiper-pagination-bullet {
    background-color: #ADADAD;
    opacity: 1;
    margin: 0px 2px;
    transition: all 300ms ease;
}


.testimonial_slide {
    display: flex !important;
    height: auto;
}

.reviews_card {
    background: #fff;
    border: 1px solid #fd5b26;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    justify-content: space-between;
}

.review {
    font-size: 14px;
}

.name {
    font-size: 14px;
    font-weight: 600;
}

.designation {
    font-size: 12px;
}

.person_info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.quote_icon {
    background-color: #FD5B26;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: -16px;
}

.stars {
    color: #223377;
    margin-top: 10px;
}

.person_image img {
    border-radius: 100px;
    object-fit: contain;
}

@media (max-width:767px) {}